Docker.docx
Kubernetes Notes.docx
Minikube_limitaion_understanding.docx
terraform/.terraform/
terraform/day-2/.terraform/
terraform/day-2/.terraform.tfstate
terraform/day-2/.terraform.tfstate.backup
terraform/day-3/.terraform.tfstate
terraform/day-3/.terraform/
terraform/day-3/.terraform.tfstate.backup
